:root {
  font-family: "Patrick Hand", serif;

}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #bdc2f3;
}

section {
  margin: 0 10px;
  max-width: 900px;
}

section h3 {
  font-size: 2rem;
  color: #1a1a1a;
}

section label {
  font-size: 1.5rem;
  color: white;
  padding: 30px;

}

section input {
  padding: 10px;
  width: 300px;
  outline: #3d46f6;
  border-radius: 5px;
  border: none;

}

form button {
  background-color: white;
  color: #3d46f6;
  height: 38px;
  padding: 0 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  border: 3px solid white;
  margin: 30px;
}


#head {
  text-decoration: dotted;
  border-bottom: 2px dotted white;
  font-size: 1.4rem;
  color: #3d46f6;
}

.disa {
  display: flex;
  justify-content: space-between;
}

.disa li {
  list-style: none;
  color: #1a1a1a;
  font-size: 1.5rem;
}

.btns {
  background-color: white;
  border-radius: 4px;
  margin: 10px;
}

.btns button {
  font-size: 12px;
  background-color: transparent;
  border: none;
}

#red {
  color: rgb(185, 6, 6);
}

#red:hover {
  color: rgb(185, 6, 6);
}

#edit {
  color: #3d46f6;
}

#edit:hover {
  color: #1520e4;
}


#down {
  color: #1a1a1a;
}

#up {
  color: #1a1a1a;
}